/* MIXINS (SINGLE STYLE) */
/* SIZES */
/* FONT VARS */
/* COLOR VARS */
/* DERIVED COLOR VALUES */
/* MIXINS (MULTI STYLE) */
label {
  vertical-align: middle;
  display: inline-block;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  background-color: #e8e8e8;
}
label[for] {
  color: #2784d6;
  cursor: pointer;
}
input,
textarea,
.input {
  display: inline-block;
  font-size: 12px;
  font-family: 'Consolas', 'Monospace', 'Courier New', Courier;
  background-color: #FFF;
  cursor: pointer;
  border: 1px solid #91c1eb;
  -webkit-box-shadow: 0px 0px 4px rgba(156, 156, 156, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(156, 156, 156, 0.5);
  box-shadow: 0px 0px 4px rgba(156, 156, 156, 0.5);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input:hover,
textarea:hover,
.input:hover {
  background-color: #fffff5;
}
input:focus,
textarea:focus,
.input:focus {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  background-color: #ffffed;
}
input:active,
textarea:active,
.input:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  background-color: #ffffed;
}
textarea {
  vertical-align: middle;
  width: 564px;
  height: 82px;
  padding: 8px;
  cursor: auto;
}
input {
  height: 26px;
  vertical-align: bottom;
}
input[type=text] {
  width: 238px;
  padding: 0 8px;
  cursor: text;
}
input[type=text] + label {
  min-width: 94px;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', Verdana, Tahoma;
  color: #f5f5f5;
  cursor: pointer;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #91c1eb;
  min-width: 26px;
  height: 26px;
  padding: 0px;
}
input[type=text] + label {
  background-color: #fffff5;
  border-color: #2784d6;
  color: #2784d6;
}
input[type=text] + label:hover {
  background-color: #ffffff;
}
input[type=text] + label:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=text] + label:hover {
  color: #91c1eb;
}
input[type=text] + label.color-blue {
  background-color: #2784d6;
  border-color: #1f69ab;
  color: #f5f5f5;
}
input[type=text] + label.color-blue:hover {
  background-color: #3b90db;
}
input[type=text] + label.color-blue:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=text] + label.color-green {
  background-color: #36d40b;
  border-color: #2aa408;
  color: #f5f5f5;
}
input[type=text] + label.color-green:hover {
  background-color: #3cec0c;
}
input[type=text] + label.color-green:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=text] + label.color-red {
  background-color: #e84141;
  border-color: #db1b1b;
  color: #f5f5f5;
}
input[type=text] + label.color-red:hover {
  background-color: #eb5858;
}
input[type=text] + label.color-red:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=text] + label.icon-check {
  background-image: url('/img/check_12x10.png');
  background-position: 7px;
}
input[type=text] + label.icon-check[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=text] + label.icon-check.size-huge {
  background-image: url('/img/check_24x19.png');
  background-position: 8px;
}
input[type=text] + label.icon-check.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=text] + label.icon-x {
  background-image: url('/img/x_11x11.png');
  background-position: 8px;
}
input[type=text] + label.icon-x[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=text] + label.icon-x.size-huge {
  background-image: url('/img/x_21x21.png');
  background-position: 8px;
}
input[type=text] + label.icon-x.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=text] + label.icon-wrench {
  background-image: url('/img/wrench_12x12.png');
  background-position: 7px;
}
input[type=text] + label.icon-wrench[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=text] + label.icon-wrench.size-huge {
  background-image: url('/img/wrench_24x24.png');
  background-position: 8px;
}
input[type=text] + label.icon-wrench.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=text] + label.icon-list {
  background-image: url('/img/list_12x11.png');
  background-position: 7px;
}
input[type=text] + label.icon-list[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=text] + label.icon-list.size-huge {
  background-image: url('/img/list_24x21.png');
  background-position: 8px;
}
input[type=text] + label.icon-list.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=text] + label.icon-arrow-down {
  background-image: url('/img/arrow_down_12x12.png');
  background-position: 7px;
}
input[type=text] + label.icon-arrow-down[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=text] + label.icon-arrow-down.size-huge {
  background-image: url('/img/arrow_down_24x24.png');
  background-position: 8px;
}
input[type=text] + label.icon-arrow-down.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=text] + label.size-huge {
  min-width: 162px;
  height: 36px;
  font-weight: normal;
  font-size: 20px;
  border-width: 1px;
}
input[type=text] + label.size-mini {
  min-width: 26px;
}
input[type=text]:active + label {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
}
input[type=checkbox],
input .checkbox {
  display: none;
}
input[type=checkbox] + label,
input .checkbox + label {
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: #FFF;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #91c1eb;
}
input[type=checkbox] + label:hover,
input .checkbox + label:hover {
  background-color: #ffffed;
  cursor: pointer;
}
input[type=checkbox] + label:active,
input .checkbox + label:active {
  background-color: #ffffed;
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
}
input[type=checkbox]:checked + label,
input .checkbox:checked + label {
  background-image: url('/img/x_blue21x21.png');
  background-repeat: no-repeat;
  background-position: 4px;
}
input[type=button] {
  min-width: 94px;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', Verdana, Tahoma;
  color: #f5f5f5;
  cursor: pointer;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type=button] {
  background-color: #fffff5;
  border-color: #2784d6;
  color: #2784d6;
}
input[type=button]:hover {
  background-color: #ffffff;
}
input[type=button]:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=button]:hover {
  color: #91c1eb;
}
input[type=button].color-blue {
  background-color: #2784d6;
  border-color: #1f69ab;
  color: #f5f5f5;
}
input[type=button].color-blue:hover {
  background-color: #3b90db;
}
input[type=button].color-blue:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=button].color-green {
  background-color: #36d40b;
  border-color: #2aa408;
  color: #f5f5f5;
}
input[type=button].color-green:hover {
  background-color: #3cec0c;
}
input[type=button].color-green:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=button].color-red {
  background-color: #e84141;
  border-color: #db1b1b;
  color: #f5f5f5;
}
input[type=button].color-red:hover {
  background-color: #eb5858;
}
input[type=button].color-red:active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
  color: #ffffed;
}
input[type=button].icon-check {
  background-image: url('/img/check_12x10.png');
  background-position: 7px;
}
input[type=button].icon-check[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=button].icon-check.size-huge {
  background-image: url('/img/check_24x19.png');
  background-position: 8px;
}
input[type=button].icon-check.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=button].icon-x {
  background-image: url('/img/x_11x11.png');
  background-position: 8px;
}
input[type=button].icon-x[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=button].icon-x.size-huge {
  background-image: url('/img/x_21x21.png');
  background-position: 8px;
}
input[type=button].icon-x.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=button].icon-wrench {
  background-image: url('/img/wrench_12x12.png');
  background-position: 7px;
}
input[type=button].icon-wrench[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=button].icon-wrench.size-huge {
  background-image: url('/img/wrench_24x24.png');
  background-position: 8px;
}
input[type=button].icon-wrench.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=button].icon-list {
  background-image: url('/img/list_12x11.png');
  background-position: 7px;
}
input[type=button].icon-list[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=button].icon-list.size-huge {
  background-image: url('/img/list_24x21.png');
  background-position: 8px;
}
input[type=button].icon-list.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=button].icon-arrow-down {
  background-image: url('/img/arrow_down_12x12.png');
  background-position: 7px;
}
input[type=button].icon-arrow-down[value] {
  text-indent: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
input[type=button].icon-arrow-down.size-huge {
  background-image: url('/img/arrow_down_24x24.png');
  background-position: 8px;
}
input[type=button].icon-arrow-down.size-huge[value] {
  text-indent: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
input[type=button].size-huge {
  min-width: 162px;
  height: 36px;
  font-weight: normal;
  font-size: 20px;
  border-width: 1px;
}
input[type=button].size-mini {
  min-width: 26px;
}
/* CUSTOM INPUT STYLES */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown > input[type=text] {
  width: 150px;
  border-right: 0;
}
.dropdown > input[type=text].active {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
}
.dropdown > input[type=text].empty {
  color: #a2a2a2;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown > input[type=text]:focus + label + ul {
  display: inline-block;
}
.dropdown > input[type=text]:focus + label {
  border-color: #d1d100;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(209, 209, 0, 0.25);
  outline: none;
}
.dropdown > ul {
  background-color: #fffff5;
  width: 192px;
  max-height: 240px;
  line-height: 24px;
  margin-top: -1px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 28px;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  display: none;
  border: 1px solid #d1d100;
  -webkit-box-shadow: 0px 4px 7px rgba(209, 209, 0, 0.25);
  -moz-box-shadow: 0px 4px 7px rgba(209, 209, 0, 0.25);
  box-shadow: 0px 4px 7px rgba(209, 209, 0, 0.25);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown > ul.active {
  display: inline-block;
}
.dropdown > ul.active > li:hover {
  background-color: #66a9e3;
}
.dropdown > ul > li {
  z-index: 10;
  color: #2784d6;
  cursor: pointer;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dropdown > ul > li:hover {
  background-color: #2784d6;
  color: #f5f5f5;
}
